<div class="panel">
  <h2>Reviews</h2>
  
  <% if @active_reviews.empty? && @upcoming_reviews.empty? && @past_due_reviews.empty? %>
  <div style="text-align:center">No on-going, upcoming nor past due reviews to report</div>
  <% end %>
  
  <% unless @active_reviews.empty? %>
  <div>
    <h3>On-going</h3>
    <div>
      <table>
        <tr>
          <th>Agency</th>
          <th>Name</th>
          <th>Due</th>
        </tr>
        <tr class="panel-table-row even panel-table-row-unread">
          <td>SEC</td>
          <td><a href="">Conflict Minerals</a></td>
          <td><%= Time.now.next_month.to_formatted_s(:short) %></td>
        </tr>
        <tr class="panel-table-row odd panel-table-row-unread">
          <td>SEC</td>
          <td><a href="">Summary</a></td>
          <td><%= Time.now.next_month.to_formatted_s(:short) %></td>
        </tr>
        <tr class="panel-table-row even panel-table-row-unread">
          <td>ISO</td>
          <td><a href="">System changes</a></td>
          <td><%= Time.now.next_month.to_formatted_s(:short) %></td>
        </tr>
        <tr class="panel-table-row odd">
          <td>SEC</td>
          <td>Summary</td>
          <td><%= Time.now.next_month.to_formatted_s(:short) %></td>
        </tr>
        <tr class="panel-table-row even">
          <td>ISO</td>
          <td>System changes</td>
          <td><%= Time.now.next_month.to_formatted_s(:short) %></td>
        </tr>
      </table>
    </div>
  </div>
  <% end %>
  
  <% unless @upcoming_reviews.empty? %>
  <div class="panel-reviews-upcoming">
    <h3>Upcoming</h3>
    <div>
      <table>
        <tr>
          <th>Agency</th>
          <th>Name</th>
          <th>Due</th>
        </tr>
        <% @upcoming_reviews.each do |review| %>
        <tr class="panel-table-row <%= cycle('even', 'odd') %> panel-table-row-unread">
          <td><%= review.purchased_template.agency.acronym %></td>
          <td><%= review.name %></td>
          <td><%= review.targeted_completion_at.to_formatted_s(:short) %></td>
        </tr>
        <% end %>
      </table>
    </div>
  </div>
  <% end %>
  
  <% unless @past_due_reviews.empty? %>
  <div class="panel-reviews-past-due">
    <h3>Past Due</h3>
    <div>
      <table>
        <tr>
          <th>Agency</th>
          <th>Name</th>
          <th>Due</th>
        </tr>
        <tr class="panel-table-row even panel-table-row-unread">
          <td>SEC</td>
          <td><a href="">Conflict Minerals</a></td>
          <td><%= Time.now.next_month.to_formatted_s(:short) %></td>
        </tr>
        <tr class="panel-table-row odd panel-table-row-unread">
          <td>SEC</td>
          <td><a href="">Summary</a></td>
          <td><%= Time.now.next_month.to_formatted_s(:short) %></td>
        </tr>
      </table>
    </div>
  </div>
  <% end %>
  
</div>
