<% comment = comment || @comment %>
<div id="comment_<%= comment.id %>" class="task-comment">
  <div class="comment-profile-image">
    <img src="/images/users/default_profile.jpg" width="48">
  </div>
  <div>
    <span><strong><%= comment.author.eponym  %></strong></span> - <span><%= comment.body.html_safe %></span>
    <br>
    <span style="font-size:.8em; color: #666" title="Created at <%= comment.created_at.to_formatted_s(:db) %>">Posted on <%= comment.created_at.strftime("%m/%d/%Y") %></span>
    <% unless comment.attachments.empty? %>
      <span style="font-size:.8em; font-weight:bold">
        <br>Attachments: <%= comment.attachments.map { |a| link_to a.filename, get_file_path(a.id) }.join(', ').html_safe %>
      </span>
    <% end %>
  </div>
</div>

