<script src="/assets/gsp/gsp.review.js" type="text/javascript"></script>

<style>
  #tabs {
    border: 1px solid silver;
    width: 900px;
    margin: 0 auto 0 auto;
    padding:10px;
  }
  
</style>

<div id="tabs">
  <ul>
    <li><a href="#review_prepare">View</a></li>
    <li><a href="#review_edit">Edit</a></li>
  </ul>
  <div id="review_prepare">
    <div style="font-family:Arial">
      <div style="float:left; margin-right:5px;">
        <img src="/images/agencies/<%= @review.agency.acronym.downcase %>.png">
      </div>
      <div>
        <h2><%= "%s (%s)" % [@review.agency.name, @review.agency.acronym] %></h2>
        <h3><%= @review.name %></h3>
      </div>
    </div>
    
    <div id="review_page">
      <form name="review_form"></form>
      <h3>
        <span><%= @review.frequency %></span> Review</h3>
        
      <%= render "show_attributes", :review => @review %>
      <%= render "show_tasks", :tasks => @review.tasks %>
    </div>
  </div>
  
  <div id="review_edit">
    <p>Editor form goes here</p>
  </div>
</div>


<script>
  $(function() {
    $( "#tabs" ).tabs();
  });
</script>
