<div id="task<%= @task.id %>" class="task">
  <div>
    <span class="task-sequence">
      <p><%= @task.sequence %></p>
    </span>
    <% if @task.is_completed? %>
    <span class="task-reopen">
      <p><%= link_to "Re-open", "#" %></p>
    </span>
    <% else %>
    <span class="task-close">
      <p><%= link_to "Mark as Completed", "#" %></p>
    </span>
    <% end %>
    <span class="task-due-date">
      <p>Due</p>
      <p><%= @task.expected_completion_at.to_formatted_s(:review_date) %></p>
    </span>
  </div>
  
  <div class="task-functions">
    <ul>
      <li><a href="">Print All Pending</a></li>
      <li><a href="">Print</a></li>
    </ul>
  </div>
  
  <div>
  </div>
  
  <div class="task-fields">
    <h3><%= @task.review.name %> - <%= @task.review.targeted_start_at.to_formatted_s(:review_date) %></h3>
    <span>Person responsible for this task:</span>
    <span><%= @task.reviewer.eponym %></span>
    <% if @task.is_completed? %>
    <br>
    <span>Completed at: <%= @task.actual_completion_at.to_formatted_s(:review_date) %></span>
    <% end %>
  </div>
  
  <% if @task.review.organization_template %>
  <div class="task-objective">
    <h3>Review objective</h3>
    <span><%= @task.review.organization_template.objectives.html_safe %></span>
  </div>
  <% end %>
  
  <div class="task-content">
    
    <h2>Task <%= @task.sequence %> - <%= @task.name %></h2>
    <div class="task-instructions">
      <h3>Instructions</h3>
      <div style="font-family:Georgia, Times New Roman; font-size:1.2em"><%= @task.instructions.html_safe %></div>
    </div>
  
    <div class="task-comments">
      
      <% unless @task.is_completed? %>
      <div id="comment_entry">
        <div class="comment-profile-image">
          <img src="/images/users/default_profile.jpg" width="48">
        </div>
        <div id="comment_fake_input" class="show-comment-entry-box">
          <p>Add a comment...</p>
        </div>
        <div id="comment_input" class="hide-comment-entry-box">
          <iframe src="<%= post_comment_form_path(@task) %>" height="400" ></iframe>
        </div>
      </div>
      <% end %>
      
      <div id="comments-container">
        <div id="comment-insertion-marker"></div>
        <% @comments.each do |comment| %>
        <%= render 'task_comment', :comment => comment %>
        <% end %>
      </div>
    </div>
    
  </div>
</div>

<div id="dialog-confirm" title="Complete task">
  <p>
    <span class="ui-icon ui-icon-alert" style="float: left; margin: 0 7px 20px 0;"></span>
    Are all your findings in conformance?</p>
</div>

<% if @task.is_completed? %>
<script>
  // $(".task").attr("class", "task-completed");
  
</script>
<% end %>

