<div id="task<%= @task.id %>" class="task">
  <div>
    <span class="task-sequence">
      <p><%= @task.sequence %></p>
    </span>
    <% if @task.is_completed? %>
    <span class="task-reopen">
      <p><%= link_to "Re-open", "asdf" %></p>
    </span>
    <% end %>
    <span class="task-due-date">
      <p>Due</p>
      <p><%= @task.expected_completion_at.to_formatted_s(:review_date) %></p>
    </span>
  </div>
  
  <div class="task-functions">
    <ul>
      <li><a href="">Print All Pending</a></li>
      <li><a href="">Print</a></li>
    </ul>
  </div>
  
  <div class="task-fields">
    <span>Person responsible for this task:</span>
    <span><%= @task.executor.eponym %></span>
    <% if @task.is_completed? %>
    <br>
    <span>Completed at: <%= @task.actual_completion_at.to_formatted_s(:review_date) %></span>
    <% end %>
  </div>
  
  <div class="task-objective">
    <h3>Review objective</h3>
    <span><%= @task.review.organization_template.objectives %></span>
  </div>
  
  <div class="task-content">
    
    <h2>Task <%= @task.sequence %> - <%= @task.name %></h2>
    <div class="task-instructions">
      <h3>Instructions</h3>
      <pre><%= @task.instructions %></pre>
    </div>
  
    <div class="task-comments">
      <div id="comment_entry">
        <div class="comment-profile-image">
          <img src="/images/users/default_profile.jpg" width="48">
        </div>
        <div id="comment_fake_input" class="show-comment-entry-box">
          <p>Add a comment...</p>
        </div>
        <div id="comment_input" class="hide-comment-entry-box">
          <iframe src="<%= post_comment_form_path(@task) %>" ></iframe>
        </div>
      </div>
      
      <div id="comments-container">
        <div id="comment-insertion-marker"></div>
        <% @comments.each do |comment| %>
        <%= render 'task_comment', :comment => comment %>
        <% end %>
      </div>
    </div>
    
  </div>
</div>

<script>
$(document).ready(function() {
  $('#comment_fake_input').on('click', function () { 
    $('#comment_fake_input').removeClass('show-comment-entry-box');
    $('#comment_fake_input').addClass('hide-comment-entry-box');
    $('#comment_input').removeClass('hide-comment-entry-box');
    $('#comment_input').addClass('show-comment-entry-box');
    
  });
});
</script>

<% if @task.is_completed? %>
<script>
  $(".task").attr("class", "task-completed");
  
</script>
<% end %>

