<article class="review-panel" data-review-id="<%= review.id %>"  title="<%= review.progress %>% Completed">
  <div>
    <p style="color:#7C0006"><%= review.name %></p>
    <div>
      <table>
        <tr>
          <th>Start Date</th>
          <th>Due Date</th>
        </tr>
        <tr>
          <td><%= review.targeted_start_at.to_formatted_s(:review_date) %></td>
          <td><%= review.targeted_completion_at.to_formatted_s(:review_date) %></td>
        </tr>
      </table>
    </div>
    <div>
      <table class="review-tasks-overview">
        <tr>
          <td><%= review.tasks.size %></td>
          <td>Tasks</td>
        </tr>
        <tr>
          <td><%= review.completed_tasks.size %></td>
          <td>Completed</td>
        </tr>
        <tr>
          <td><%= review.pending_tasks.size %></td>
          <td>Not started</td>
        </tr>
        <tr>
          <td><%= review.active_tasks.size %></td>
          <td>In-Process</td>
        </tr>
      </table>
    </div>
    <div>
      <p>Owner: </p>
      <p>Task Reviewer(s): <%= review.tasks.map(&:executor).map(&:eponym).uniq.join(', ') %></p>
    </div>
  </div>
  <div data-progress="<%= review.progress %>" class="review-progress-bar">
  </div>
</article>

