<div id="new_password">
  <div id="left_column">
    <%= form_tag("") do %>
      <%= text_field_tag :email, @email %>
      <%= password_field_tag :password %>
      <%= password_field_tag :password_confirmation %>
      <%= text_field_tag :first_name %>
      <%= text_field_tag :last_name %>
      <%= submit_tag "Sign up" %>
    <% end %>
  </div>

  <div id="right_column">
  </div>
</div>
