
  <script>
  $(function() {
    $( "#tabs<%= template.id %>" ).tabs().addClass( "ui-tabs-vertical ui-helper-clearfix" );
    $( "#tabs<%= template.id %> li" ).removeClass( "ui-corner-top" ).addClass( "ui-corner-left" );
  });
  </script>
  <style>
  .ui-tabs-vertical { width: 38em; font-size:10pt; }
  .ui-tabs-vertical .ui-tabs-nav { padding: .2em .1em .2em .2em; float: left; width: 6em; }
  .ui-tabs-vertical .ui-tabs-nav li { clear: left; width: 100%; border-bottom-width: 1px !important; border-right-width: 0 !important; margin: 0 -1px .2em 0; }
  .ui-tabs-vertical .ui-tabs-nav li a { display:block; }
  .ui-tabs-vertical .ui-tabs-nav li.ui-tabs-active { padding-bottom: 0; padding-right: .1em; border-right-width: 0px; border-right-width: 0px; }
  .ui-tabs-vertical .ui-tabs-panel { padding: 1em; float: left }
  .ui-state-focus { border: 0 }
  
  .events-recurrence-save { background-color:#3BA173; padding:5px; text-align:center;}
  .events-recurrence-save a,
  .events-recurrence-save a:hover,
  .events-recurrence-save a:link,
  .events-recurrence-save a:visited,
  .events-recurrence-save a:active
  { color:#FFCFA6; }

  </style>

<%= form_for @template, :url => template_set_recurrence_path(template), :method => :put do |f| %>
<%= hidden_field_tag :frequency, 'Daily' %>
<div class="events-recurrence">
  <!--div class="events-time">
    <table>
      <tr><td>Start:</td><td><input type="text" size="12" value="09:00 AM"></td></tr>
      <tr><td>End:</td><td><input type="text" size="12" value="05:00 PM"></td></tr>
    </table>
    <br>
  </div-->
  
  <div id="tabs<%= template.id %>" class="events-recurrence-tabs">
    <ul>
      <li><a href="#tabs<%= template.id %>-1">Daily</a></li>
      <li><a href="#tabs<%= template.id %>-2">Weekly</a></li>
      <li><a href="#tabs<%= template.id %>-3">Monthly</a></li>
      <li><a href="#tabs<%= template.id %>-4">Annually</a></li>
    </ul>
    <div id="tabs<%= template.id %>-1">
      <input type="radio" group="daily" name="daily_every" value="day" checked="true"s> Every <input type="text" size="2" value="1" name="daily_every_interval"> day(s)<br>
      <input type="radio" group="daily" name="daily_every" value="weekday">Every weekday
    </div>
    <div id="tabs<%= template.id %>-2">
      Recur every <input type="text" value="1" size="2" name="weekly"> week(s) on:<br>
      <table>
        <tr>
          <td><input type="checkbox" name="weekly_day[]" checked="true" value="Sunday">Sunday</td>
          <td><input type="checkbox" name="weekly_day[]" checked="true" value="Monday">Monday</td>
          <td><input type="checkbox" name="weekly_day[]" checked="true" value="Tuesday">Tuesday</td>
          <td><input type="checkbox" name="weekly_day[]" checked="true" value="Wednesday">Wednesday</td>
        </tr>
        <tr>
          <td><input type="checkbox" name="weekly_day[]" checked="true" value="Thursday">Thursday</td>
          <td><input type="checkbox" name="weekly_day[]" checked="true" value="Friday">Friday</td>
          <td><input type="checkbox" name="weekly_day[]" checked="true" value="Saturday">Saturday</td>
          <td></td>
        </tr>
      </table>
    </div>
    <div id="tabs<%= template.id %>-3">
      <input type="radio" group="monthly" name="monthly" value="day" checked="true"> Day <input type="text" size="2" value="1" name="monthly_day"> of every <input type="text" size="2" value="1" name="monthly_interval"> month(s)<br>
      <input type="radio" group="monthly" name="monthly" value="week">
        The <select name="monthly_weekday_ordinal">
              <option value="1">first</option>
              <option value="2">second</option>
              <option value="3">third</option>
              <option value="4">fourth</option>
              <option value="5">fifth</option>
            </select> 
        <select name="monthly_weekday_day">
          <option>Monday</option>
          <option>Tuesday</option>
          <option>Wednesday</option>
          <option>Thursday</option>
          <option>Friday</option>
          <option>Saturday</option>
          <option>Sunday</option>
        </select> of every <input type="text" size="2" value="1" name="monthly_weekday_interval"> month(s)
    </div>
    <div id="tabs<%= template.id %>-4">
    </div>
  </div>
  
  <div class="events-recurrence-range">
    <p>Range of recurrence</p>
    
    <table>
      <tr>
        <td>Start: <input type="text" name="range_start" id="range_start" value="<%= DateTime.now.strftime('%m/%d/%Y') %>"></td>
        <td>
          <p><input type="radio" group="annually" name="range_no_end"> No end date<br/>
             <input type="radio" group="annually" name="range_end_after_interval"> End after: <input type="text" size="2" value="10"> occurrences<br/>
             <input type="radio" group="annually" name="range_end"> End by: <input type="text"  name="range_end_date"></p>
        </td>
      </tr>
    </table>
  </div>
  
  <div class="events-recurrence-save">
    <a href="#">Save</a>
  </div>
</div>
<% end %>

<script>
// Use the <OL> as a value selector for frequency
(function() {

  var Frequency = {
    setValue : function(event) {
      var form_field = $("input#frequency");
      form_field.val(this.text);
    }
  };

  $(document).ready(function() {
                    var frequencies = $(".events-recurrence-tabs > ul li a");
                    for (var i=0; i < frequencies.length; i++) {
                      $(frequencies[i]).on("click", Frequency.setValue);
                    }
                    
                    $("input#range_start").datepicker();
  });
}());
</script>
