<!-- Fine Uploaded 3.8.2. assets -->
<%= stylesheet_link_tag "eicc/fineuploader-3.8.2.min.css", :media => "all" %>
<%= javascript_include_tag 'eicc/all.fineuploader-3.8.2.min.js' %>


<!-- Use this form to generate an authenticity token-->
<%= form_tag('validate_single_eicc_spreadsheet', :multipart => true) do |form| %>
  <%= hidden_field_tag "validation_status_id", @validation_status.id %>
<% end %>

<!-- Upload form -->

<style>
  #file_uploader {
    width: 450px;
    border: 1px solid black;
  }
  
    #file_uploader ul.qq-upload-list li {
      height: 10px;
      font-size: 9pt;
      border-top: 1px solid black;
      overflow: hidden;
    }
    
    #file_uploader div.qq-upload-drop-area {
      border: 1px solid black;
      width: 600px;
      height: 400px;
    }
  
</style>

  <div id="file_uploader"></div>

  <script>
    $(document).ready(function () {
      $('#file_uploader').fineUploader({
        maxConnections : 5,
        request: {
          endpoint: '/eicc/declaration/validate_single_eicc_spreadsheet/' + $("input[name=validation_status_id]").val(),
          inputName: 'spreadsheet',
          params: {"authenticity_token" : $("input[name=authenticity_token]").val(), "validation_status_id" : $("input[name=validation_status_id]").val() }
        },
        text: {
          failUpload : "File not readable"
        }
        
   /*     validation: {
          allowedExtensions : ["xls", "xlsx"]
        } */
      });
    });
    
    
    $("#file_uploader").on("submitted", function(event, id, name) {
      var promise = new qq.Promise();

      console.log(name);
      promise.success();
      return promise;
   
    });
  </script>




<div id="validation_statuses">
  <%= image_tag "/assets/eicc/loading.gif" %>
</div>

<script>
  $(document).ready(function () {  
    window.setInterval(function() {
      $.get("/eicc/declaration/show_validation_statuses/" + $("input[name=validation_status_id]").val()).done(function(data) {
        $("#validation_statuses").html(data);
      });
    }, 2000);
    
    $.get("/eicc/declaration/show_validation_statuses/" + $("input[name=validation_status_id]").val()).done(function(data) {
      $("#validation_statuses").html(data);
    });
  });
</script>




