
<%= render 'home/reviews/recent_and_current' %>
<%= render 'home/reviews/non-conforming' %>
<%= render 'home/reviews/past_due' %>


<div class="review-graphs">
  <%= render 'home/reviews/graphs/review_status' %>
  <%= render 'home/reviews/graphs/task_status' %>
  <%= render 'home/reviews/graphs/task_findings' %>
</div>

