<script src="/assets/gsp/gsp.task.manager.js" type="text/javascript"></script>
<link href="/assets/gsp/green/gsp.green.review.css" media="all" rel="stylesheet" type="text/css" />
<%= render 'home/reviews/recent_and_current' %>
<%= render 'home/reviews/non-conforming' %>
<%= render 'home/reviews/past_due' %>


<div class="review-graphs">
  <%= render 'home/reviews/graphs/review_status' %>
  <%= render 'home/reviews/graphs/conforming_vs_non-conforming' %>
  <%= render 'home/reviews/graphs/non-conforming' %>
</div>

<%= render('shared/unsupported_browser') unless @is_browser_supported %>
