
<%= render 'home/reviews/recent_and_current' %>
<%= render 'home/reviews/non-conforming' %>
<%= render 'home/reviews/past_due' %>


<div class="review-graphs">
  <%= render 'home/reviews/graphs/review_status' %>
  <%= render 'home/reviews/graphs/conforming_vs_non-conforming' %>
  <%= render 'home/reviews/graphs/non-conforming' %>
</div>

<%= render('shared/unsupported_browser') unless @is_browser_supported %>
