
<div id="task2" class="task">
  <div id="task2_info" class="pending-task">
    <p><span><input type="checkbox" onclick="toggle_task_status('#task2_info')"/>Task <%= task.sequence %></span></p>
    <span>
      
    </span>
    
    <table>
      <tr>
        <td>Owner</td>
        <td>Start</td>
        <td>End</td>
        <td>Status</td>
      </tr>
      
      <tr>
        <td nowrap><%= nested.text_field :executor_id %></td>
        <td nowrap><%= nested.text_field :start_at %></td>
        <td nowrap><%= nested.text_field :expected_completion_at %></td>
        <td><span style="color:green"><%= nested.text_field :status %></span></td>
      </tr>
    </table>
  </div>
  
  <div>
    <%= nested.label :actual_completion_at %>
    <%= nested.text_field :actual_completion_at %>
    <%= nested.label :assigned_at %>
    <%= nested.text_field :assigned_at %>
    <%= nested.label :completion_percentage %>
    <%= nested.text_field :completion_percentage %>
    <%= nested.label :executor_id %>
    
    <%= nested.label :expected_completion_at %>
    
    <%= nested.label :instructions %>
    <%= nested.text_area :instructions %>
    <%= nested.label :name %>
    <%= nested.text_field :name %>
    <%= nested.label :sequence %>
    <%= nested.text_field :sequence %>
    <%= nested.label :start_at %>
    
    <%= nested.label :status %>
  </div>
  
  <div id="task2_comments" class="task_comments">
    <div onclick="toggle_comment_entry('#task2_comments')">
      <div id="task2_comments_entry_collapsed" class="display-block">Add comment...</div>
      <div id="task2_comments_entry_expanded" class="display-none">
        <div id="task_comment_editor">
          <textfield></textfield>
        </div>
        <input type="button" value="Add comment" />
      </div>
    </div>
    
    
    <div id="task2_comments_list" class="task_comments_list">
      <div class="task_comment_profile_image"><img src="john_profile.png"></div>
      <div class="task_comment"><span>Supplier contact info located on UA shared server</span></div>
      
      <div class="task_comment_profile_image"><img src="leo_profile.png"></div>
      <div class="task_comment"><span>Cannot find supplier contact info for step #1</span></div>
    </div>
  </div>
  
</div>
