
<div id="task<%= task.sequence %>" class="task">
  <div id="task<%= task.sequence %>_info" class="pending-task">
    <h2><span><!--input type="checkbox" onclick="toggle_task_status('#task2_info')"-->Task <%= task.sequence %></span></h2>
    <span>
      
    </span>
    
    <table>
      <tr>
        <td>Owner</td>
        <td>Start</td>
        <td>End</td>
        <td>Status</td>
      </tr>
      
      <tr>
        <td nowrap><%= nested.text_field :executor_id %></td>
        <td nowrap><%= nested.text_field :start_at %></td>
        <td nowrap><%= nested.text_field :expected_completion_at %></td>
        <td><span style="color:green"><%= nested.text_field :status %></span></td>
      </tr>
    </table>
  </div>
  
  <div>
    <%= nested.label :name %></br>
    <%= nested.text_field :name %></br></br>
    </br>
        
    <%= nested.label :instructions %></br>
    <%= nested.text_area :instructions %>
    </br>
    <%= nested.label :sequence %></br>
    <%= nested.text_field :sequence %></br>
    </br>
    <%= nested.label :actual_completion_at %></br>
    <%= nested.text_field :actual_completion_at %></br>
    </br>
    <%= nested.label :assigned_at %></br>
    <%= nested.text_field :assigned_at %></br>
    </br>
    <%= nested.label :completion_percentage %></br>
    <%= nested.text_field :completion_percentage %></br>
    </br>
  </div>
  
  <div id="task<%= task.sequence %>_comments" class="task_comments">
    <div onclick="toggle_comment_entry('#task<%= task.sequence %>_comments')">
      <div id="task<%= task.sequence %>_comments_entry_collapsed" class="display-block">Add comment...</div>
      <div id="task<%= task.sequence %>_comments_entry_expanded" class="display-none">
        <div id="task_comment_editor">
          <textfield></textfield>
        </div>
        <input type="button" value="Add comment" />
      </div>
    </div>
    
    <% if task.sequence == 2 %>
    <div id="task<%= task.sequence %>_comments_list" class="task_comments_list">
      <div class="task_comment_profile_image"><img src="john_profile.png"></div>
      <div class="task_comment"><span>Supplier contact info located on UA shared server</span></div>
      
      <div class="task_comment_profile_image"><img src="leo_profile.png"></div>
      <div class="task_comment"><span>Cannot find supplier contact info for step #1</span></div>
    </div>
    <% end %>
  </div>
  
</div>
