<div>
  <%= form_for @template, :url => update_organization_template_path, :method => :put do |t| %>
    <div style="text-align:right">
      <%= t.submit "Save Changes" %>
      <br><br>
    </div>
    <!-- Agency -->
    <div class="template-editor-attribute">
      <p class="template-editor-attribute-label"><%= t.label :agency_id, 'Agency' %>:</p>
      <p class="template-editor-attribute-field">
        <%=
          options = Agency.all.map { |a| [[a.id.to_s, a.acronym, a.name].join(" - "), a.id] }
          t.select(:agency_id, options_for_select(options), :selected => 3)
        %>
      </p>
    </div>
    
    <!-- Review Name -->
    <div class="template-editor-attribute">
      <p class="template-editor-attribute-label"><%= t.label :regulatory_review_name, 'Review Name' %>:</p>
      <p class="template-editor-attribute-field"><%= t.text_field :regulatory_review_name %></p>
    </div>
    
    <!-- Frequency -->
    <div class="template-editor-attribute">
      <p class="template-editor-attribute-label"><%= t.label :frequency, 'Frequency' %>:</p>
      <p class="template-editor-attribute-field"><%= t.text_field :frequency %></p>
    </div>
    
    <!-- Objective -->
    <div class="template-editor-attribute">
      <p class="template-editor-attribute-label"><%= t.label :objectives, 'Objective' %>:</p>
      <p class="template-editor-attribute-field"><%= t.text_area :objectives %></p>
    </div>
    
    
    <!-- Tasks -->
    <div class="template-editor-tasks">
      <h2>Tasks</h2>
      
      <% @template.tasks_array.each_with_index do |task, index| %>
      <div class="template-editor-accordian-group">
        <h3 title="Drag to reorder task">Task <%= index + 1 %>: <%= task["name"] %></h3>
        
        <div>
          <!-- Task name -->
          <div class="template-editor-attribute">
            <p class="template-editor-attribute-label"><%= label_tag("[tasks][%d]name" % index, 'Name') %>:</p>
            <p class="template-editor-attribute-field"><%= text_field_tag("[tasks][%d]instructions" % index, task["name"]) %></p>
          </div>
          
          <!-- Task instructions -->
          <div class="template-editor-attribute">
            <p class="template-editor-attribute-label"><%= label_tag("[tasks][%d]instructions" % index, 'Instruction') %>:</p>
            <p class="template-editor-attribute-field"><%= text_area_tag("[tasks][%d]instructions" % index, task["instructions"], :size => '90x20', :onclick => 'CKEDITOR.replace(this)') %></p>
          </div>
        </div>
      </div>
      <% end %>
    </div>
    
  <% end %>
</div>

<script>

  $(function() {
    $( ".template-editor-tasks" )
      .accordion({
        header: "> div > h3"
      })
      .sortable({
        axis: "y",
        handle: "h3",
        stop: function( event, ui ) {
          // IE doesn't register the blur when sorting
          // so trigger focusout handlers to remove .ui-state-focus
          ui.item.children( "h3" ).triggerHandler( "focusout" );
        }
      });
    
    CKEDITOR.editorConfig = function( config ) {	config.uiColor = 'red'; }
    CKEDITOR.replaceAll();
  });
  
  alert(<%= @template.agency_id %>);
</script>
