<table id="cmrt_validations_list">
  <thead>
    <tr>
      <th>Company</th>
      <th>Status</th>
      <th>CM Report File</th>
      <th>Representative E-Mail</th>
      <th>Results E-Mailed</th>
      <th>Issues</th>
      <th>Template Version</th>
      <th>Uploaded At</th>
    </tr>
  </thead>

  <% @cmrt_validations.each do |cmrt_validation| %>
  <tr class="<%= cycle('odd', 'even') %>">
    <% cmrt = cmrt_validation.cmrt %>
    <% declaration = cmrt.nil? ? nil : cmrt.declaration %>
    <td><%= cmrt_validation.cmrt.declaration.company_name unless declaration.nil? %></td>
    <td><%= cmrt_validation.status %></td>
    <td><%= link_to cmrt_validation.cmrt.file_name, "download_uploaded_eicc_spreadsheet_path(ivs.id)" unless cmrt.nil?  %></td>
    <td><%= mail_to cmrt_validation.cmrt.declaration.contact_email unless declaration.nil? %></td>
    <td><%= (cmrt_validation.sent_emails_count) ? "Yes" : "No" %></td>
    <td><ul><%= cmrt_validation.issues.to_s.html_safe %></ul></td>
    <td><%= cmrt_validation.cmrt.version unless cmrt.nil? %></td>
    <td><%= cmrt_validation.created_at.to_formatted_s(:short) %></td>
  </tr>
  <% end %>
</table>
