<!DOCTYPE html>
<html>
<head>
  <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
  <link rel="icon" href="/favicon.ico" type="image/x-icon">
  <%= stylesheet_link_tag :application, :media => "all" %>
  <%= stylesheet_link_tag '/assets/jquery/pepper-grinder/jquery-ui.css', :media => "all" %>
  <%= stylesheet_link_tag "/assets/gsp/green/gsp.green.#{params[:controller]}.css", :media => "all" %>
  
  <%= javascript_include_tag :jquery, 'jquery-ui', 'jquery.jeditable', :rails, :eco_tree, 'gsp/gsp.js'  %>
  <%= javascript_include_tag 'ckeditor/ckeditor.js' if @use_ckeditor  %>
  <%= javascript_include_tag 'gsp/gsp.template.manager.js' if @is_editable  %>
  <%= csrf_meta_tags %>
  
  <title><%= params[:controller].titlecase %> - Green Status Pro</title>
  
</head>

<body>

<%= render "shared/menus/system_notification" %>

<div id="app">

  <div id="menus">
    
    <div id="top-menu">
      <span id="top-menu-logo"><img src="/images/green/top_logo.png"></span>
      <%= render "shared/menus/top_menu" if current_user %>
    </div>
  </div>
  
  <%= render "shared/menus/sub_menu" if current_user %>
  
  <div id="content">
    <%= yield %>
  </div>

</div>
  
<div id="footer">
  <% if current_user %>
  <div id="footer-menu">
    <span id="footer-menu-links">
    <ul>
      <li class="footer-menu-first-link"><a href="">Help</a></li>
      <li class="footer-menu-link"><a href="">Contact Your SO Management Representative</a></li>
      <li class="footer-menu-link"><a href="">Contact Green Status Pro Customer Support</a></li>
    </ul>
    <span>
  </div>
  <% end %>
  
  <div id="footer-copyright">
    <p>© Copyright 2013. Green Status Pro. All Rights Reserved.</p>
  </div>
</div>
</body>

</html>
