<!DOCTYPE html>
<html>
<head>
  <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
  <link rel="icon" href="/favicon.ico" type="image/x-icon">
  <%= stylesheet_link_tag :application, :media => "all" %>
  <%= stylesheet_link_tag '/assets/jquery/pepper-grinder/jquery-ui.css', :media => "all" %>
  <%= stylesheet_link_tag "/assets/gsp/green/gsp.green.#{params[:controller]}.css", :media => "all" %>
  
  <%= javascript_include_tag :jquery, 'jquery-ui', 'jquery.jeditable', :rails, :eco_tree, 'gsp/gsp.js'  %>
  <%= javascript_include_tag 'ckeditor/ckeditor.js' if @use_ckeditor  %>
  <%= javascript_include_tag 'gsp/gsp.template.manager.js' if @is_editable  %>
  <%= csrf_meta_tags %>
  
  <title>Green Status Pro Report</title>
  
</head>

<body style="margin:0;padding:0">
  <div style="margin:0;padding:0">
    <%= yield %>
  </div>
</body>

</html>
